<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mail.css">
</head>
<body>

        <div class="container">  
        <form action="/mail_ok" method="post" onsubmit="return sendit()" id="contact">
          <h4>메일을 성공적으로 보내셨습니다!</h4>
          <fieldset>
            <label for="">보내는 아이디 : <input type="text" value="<%= userid %>"></label>
          </fieldset>
          <fieldset>
            <label for="">보내는 이메일 : <input type="text"  value="<%= sendmail %>"></label>
          </fieldset>
          <fieldset>
            <label for="">받는 아이디 :  <input type="text"  value="<%= touserid %>"></label>
          </fieldset>
          <fieldset>
            <label for="">받는 이메일 : <input type="text"  value="<%= tomail %>"></label>
          </fieldset>
          <fieldset>
            <label for="">제목 :  <input type="text"  value="<%= title %>"></label>
          </fieldset>
          <fieldset>
            <textarea><%= content %></textarea>
          </fieldset>
        </form>
      </div>

  
</body>
</html>